{% block CourseTeacherType_row %}
    <div class="list-group-item teacher">
        <i class="fas fa-eraser teachers-collection-action teachers-collection-remove" title="Retirer de la liste."></i>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block CourseTeacherType_widget %}
    {{ form_widget(form) }}
{% endblock %}

