{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Modifier un job' %}
{% block subContent %}

    <div class="card card-primary">

        <div class="card-body">
            {{ include('job/_form.html.twig', {'button_label' : 'Modifier'}) }}
        </div>

    </div>
{% endblock %}

