{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Rapport du job ' ~ job.label %}

{% block subContent %}
    {% if report %}
        {{ report_render(report) }}
    {% endif %}

    {% if string %}
        <p>{{ string }}</p>
    {% endif %}
{% endblock %}

