{% extends 'course_info/layout.html.twig' %}

{% block subContent %}
    <div class="d-flex" style="margin-top: -0.5rem;">
        <div class="bg-dark text-center p-3" style="width: 250px; min-height: calc(100vh - 5.4rem - 3px); margin-left: -7.5px;">
            <h5>Sections</h5>
            <hr class="mb-2">
            <div class="mb-1">Section 1</div>
            <div class="mb-1">Section 2</div>
            <div class="mb-1">Section 3</div>
            <div class="mb-1"><a class="text-primary" href="#"><i class="fas fa-plus-circle"></i> Ajouter une section</a></div>
        </div>
        <div class="bg-danger w-100">toto</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#menu-activities').addClass('active');
            $('#menu-activities').addClass('border-bottom-3 border-white');



        });
    </script>
{% endblock %}
