{% extends 'course_info/layout.html.twig' %}

{% block subContent %}

    <section>
        {% include('course_info/presentation/view/general.html.twig') %}
    </section>
    <section>
        {% include('course_info/presentation/view/teachers.html.twig') %}
    </section>
    <section>
        {% include('course_info/presentation/view/teaching_mode.html.twig') %}
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {

            $('#menu-presentation').addClass('active');
            $('#menu-presentation').addClass('border-bottom-3 border-white');

        });
    </script>
{% endblock %}