{% extends 'base.html.twig' %}

{% block main %}

    <div id="info_general">
        {% include('course_info/presentation/view/general.html.twig') %}
    </div>
    <div id="info_synopsis">
        {% include('course_info/presentation/view/synopsis.html.twig') %}
    </div>
    {#    {% include('course_info/presentation/form/teachers.html.twig') %}
        {% include('course_info/presentation/view/teaching_mode.html.twig') %}#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $(document).on('click', '.update-focus', function () {
                var updateFocus = $(this);
                var card = updateFocus.closest('.toggle-focus');
                var url = "{{ path('course_presentation_general', {'id': courseInfo.id }) }}";
                $.ajax({
                    url: url,
                    method: "GET",
                    dataType: "html",
                    beforeSend: function () {
                        updateFocus.attr("disabled", true).html('<i class="fas fa-spinner fa-spin"></i>');
                        $('#app').addClass('hasActiveChild');
                        $(card).addClass('active');
                    },
                    success: function (data) {
                        $('#info_general').html(data);
                    }
                });
            });
        });
        $('#infos_level').click(function(){
            var message = '<ul>' +
                '<li><strong>Débutant</strong> : Ce cours demande peu ou pas de connaissances préaables.</li>' +
                '<li><strong>Intermédiaire</strong> : Ce cours demande quelques connaissances préalables.</li>' +
                '<li><strong>Avancé</strong> : Ce cours demande d\'importantes connaissances préalables.</li>' +
                '</ul>';
            bootbox.dialog({
                message: message,
                backdrop: true,
                onEscape: true
            });
        });
    </script>
{% endblock %}