{% extends 'base.html.twig' %}

{% block main %}
    <div class="card text-center">
        <div class="card-header">
            <h1>Mot de passe réinitialisé</h1>
        </div>
        <div class="card-body">
            <p>Félicitation, votre mot de passe a été réinitialisé avec succès</p>
        </div>
    </div>

{% endblock %}

