{% extends 'course_info/layout.html.twig' %}
{% block subContent %}
    <div id="card-dashboard" class="card my-2 shadow card-syllabus"
         data-view-url="{{ path('app.course_info.dashboard.dashboard', {'id': courseInfo.id }) }}"
    >
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h3>Dashboard</h3>
            </div>
        </div>
        <div class="card-body">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#menu-dashboard').addClass('active');
            $('#menu-dashboard').addClass('border-bottom-3 border-white');
        });
    </script>
{% endblock %}