{% extends 'base.html.twig' %}
{% block main %}
    <div class="face">
        <div class="band">
            <div class="red"></div>
            <div class="white"></div>
            <div class="blue"></div>
        </div>
        <div class="eyes"></div>
        <div class="dimples"></div>
        <div class="mouth"></div>
    </div>

    <h1 class="title_error">Oops!</h1>
    <h1 class="title_error"> Erreur 404, Page non trouvée!</h1>
    <!-- <div type="button" class="btn_error">Retour au </div> -->
{% endblock %}
