
/web/bundles/
/config/packages/parameters.yaml
/config/packages/dev/parameters.yaml
/config/packages/test/parameters.yaml
/config/packages/prod/parameters.yaml
/.idea/

###> symfony/framework-bundle ###
.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/.preload.php
/var/*
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

### Fixtures
/src/DataFixtures/AppFixtures.php

/.web-server-pid
/app/config/jwt/*
/app/config/parameters.yml
/app/config/jwt
/config/jwt/*
/config/jwt
/app/Resources/views/jquery.collection.html.twig
/build/
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/data/
/.phpunit.result.cache
/yarn-error.log
/web/build/
