<div class="modal fade" id="PublicContentModal" tabindex="-1" role="dialog"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-blue" id="PublicContentModal">Qu'est ce que le contenu public ? </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <p>
                        Le contenu public correspond aux informations visibles par tous, y compris des personnes extérieurs à l'université.</p>
                    <p>
                        Lorsque votre syllabus est publié, une partie d'informations est utilisé pour l'afficher sur le site web de l'université, notamment sur l'offre de formation. </p>
                    <p>
                        Voici les informations principales qui se retrouvent sur le syllabus "public":
                    </p>
                    <ul>
                        <li>Présentation générale(structure, niveau, semestre, domaine, langue, description, image ou vidéo)</li>
                        <li>Nom du responsable du cours(et pas la liste de tous les enseignants</li>
                        <li>Nombre d'heure et modalité d'enseignement</li>
                        <li>Prérequis(sans les remédiations)</li>
                        <li>Objectifs du cours</li>
                        <li>Les sections principales du programme détaillé(sans les activités)</li>
                    </ul>
                </div>
                <div class="mt-4">
                    <button class="btn btn-primary" data-dismiss="modal">J'ai compris</button>
                </div>
            </div>
        </div>
    </div>
</div>
