<div class="teaching-mode teaching-mode-class d-none">
    <label>{{ 'app.presentation.form.teaching_mode.additionnal' | trans }}</label>
    {{ form_errors(form.teachingOtherTypeClass) }}
    <div class="d-flex">
        <div class="mr-2" style="max-width: 120px;">
            {{ form_widget(form.teachingOtherClass) }}
        </div>
        <div>
            {{ form_widget(form.teachingOtherTypeClass) }}
        </div>
    </div>
</div>