{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Ajouter un cron' %}
{% block subContent %}

    <div class="card card-primary">

        <div class="card-body">
            {{ include('cron/_form.html.twig') }}
        </div>

    </div>
{% endblock %}

