<div class="d-flex flex-column">
                <span class="font-weight-bold">
                    Informations dont vous disposez sur le calendrier du cours, des examens…
                </span>
    {{ courseInfo.agenda|humanizeEmptyData() | purify }}
    <span class="font-weight-bold">
                    Organisation du cours
                </span>
    {{ courseInfo.organization|humanizeEmptyData() | purify }}
</div>