{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <div class="row">

        <div class="col-sm">


        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

$( document ).ready( function( ) {

    console.log( "Type a/l/p/e/i/s/w/d + <Enter>…" );

    $( 'body' ).on( 'keyup', function( event ) {

        switch (event.keyCode) {
            case 65: // A
                SILTools.alert( {
                    type: 'dark',
                    text: "Fusce dapibus tellus ac cursus commodo.",
                    keep: true
                } );
                break;
            case 76: // L
                SILTools.alert( {
                    type: 'light',
                    text: "Tortor mauris condimentum nibh.",
                    keep: true
                } );
                break;
            case 80: // P
                SILTools.alert( {
                    type: 'primary',
                    text: "Ut fermentum massa justo sit amet risus.",
                    keep: true
                } );
                break;
            case 69: // E
                SILTools.alert( {
                    type: 'secondary',
                    text: "Vivamus sagittis lacus vel augue.",
                    keep: true
                } );
                break;
            case 73: // I
                SILTools.alert( {
                    type: 'info',
                    text: "Laoreet rutrum faucibus dolor auctor.",
                    keep: true
                } );
                break;
            case 83: // S
                SILTools.alert( {
                    type: 'success',
                    text: "Donec id elit non mi porta gravida at eget metus.",
                    keep: true
                } );
                break;
            case 87: // W
                SILTools.alert( {
                    type: 'warning',
                    text: "Aenean lacinia bibendum nulla sed consectetur.",
                    keep: true
                } );
                break;
            case 68: // D
                SILTools.alert( {
                    type: 'danger',
                    text: "Etiam porta sem malesuada magna mollis euismod.",
                    keep: true
                } );
                break;
            case 32: // spacebar
                SILTools.alert( { } );
                break;
            case 13:
                SILTools.alert( );
                break;
            default:
                console.log( event.keyCode );

        }

    } );

    // http://bootboxjs.com/documentation.html
    bootbox.alert( {
            size: 'small',
            closeButton: false,
            title: "Integer ante dapibus",
            message: "Praesent commodo cursus magna, vel scelerisque nisl consectetur et.",
            callback: function( ){ /* callback */ }
        } );

} );

    </script>
{% endblock %}
