{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} • Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Check your brower console…</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
