<dl>
    <dt>
        {{ 'app.closing_remarks.view.remarks_message' | trans }}
    </dt>
    <dd>
        {{ courseInfo.closingRemarks|humanizeEmptyData() | purify }}
    </dd>
    <dt>
        {{ 'app.closing_remarks.view.closing_video' | trans }}
    </dt>
    <dd>
        <div class="embed-responsive embed-responsive-16by9">
            {{ courseInfo.closingVideo|raw  }}
        </div>
    </dd>
</dl>