# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    data_directory: '%kernel.project_dir%/web/data'
    syllabus_database_driver: pdo_mysql
    syllabus_database_host: 127.0.0.1
    syllabus_database_port: null
    syllabus_database_name: syllabus
    syllabus_database_user: root
    syllabus_database_password: null
    syllabus_database_charset: UTF8

    syllabus_test_database_driver: pdo_mysql
    syllabus_test_database_host: 127.0.0.1
    syllabus_test_database_port: null
    syllabus_test_database_name: syllabus_test
    syllabus_test_database_user: root
    syllabus_test_database_password: null
    syllabus_test_database_charset: UTF8

    mailer_transport: smtp
    mailer_host: smtp.unice.fr
    mailer_user: ~
    mailer_password: ~

    # Email addresses for “Publish” and “Advice” emails.
    mailer_source: no-reply@univ.fr
    mailer_target: user@univ.fr

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Student view “Regulation” link.
    regulation_link: http://unice.fr/

    test_authenticator:
        current: user1
        users:
            user1:
                firstname: User1
                lastname: USER1
                email: user1@unice.fr
                roles:
                    - ROLE_USER

    course_teacher_factory:
        sources:
            ldap_uns:
                name: 'Annuaire Ldap UNS'
                searchService: AppBundle\Query\CourseTeacher\Adapter\Ldap\SearchCourseTeacherLdapQuery
                findByIdService: AppBundle\Query\CourseTeacher\Adapter\Ldap\FindCourseTeacherByIdLdapQuery

    ldap_uns_host: ldap.domain.com
    ldap_uns_port: 389
    ldap_uns_encryption: tls
    ldap_uns_options:
        protocol_version: 3
        referrals: false
    ldap_uns_bind_dn: ~
    ldap_uns_bind_password: ~
    ldap_uns_teacher_repository_service: 'teacher_inmemory_repository'
    ldap_uns_repositories:
        teacher:
            base_dn: 'ou=personnel,ou=people,dc=unice,dc=fr'
            queries:
                search: '(|(supannAliasLogin=*{term}*)(uid=*{term}*)(sn=*{term}*)(givenName=*{term}*)(mail=*{term}*))'
                find: 'uid={id}'
            mapping:
                id: uid
                email: mail
                firstname: givenName
                lastname: sn

    jwt_authentication_passphrase: ~
    app_name: 'Syllabus'
    api_host: ~
    locale: ~
    fallback_locales: ~
    managed_locales: ~