{% extends 'admin_layout.html.twig' %}
{% set h1 = 'admin.job.job_report' | trans ~ job.label %}
{% set href = path('app.admin.job.index') %}

{% block subContent %}
    {% if report %}
        {{ report_render(report) }}
    {% endif %}

    {% if string %}
        <p>{{ string }}</p>
    {% endif %}
{% endblock %}

