<p>
    {{ 'app.closing_remarks.form.closing_video_info.part1' | trans }}
</p>

<p>
    {{ 'app.closing_remarks.form.closing_video_info.part2' | trans }}
</p>

<p>
    {{ 'app.closing_remarks.form.closing_video_info.part3' | trans }}
</p>
<p>
    {{ 'app.closing_remarks.form.closing_video_info.part4' | trans }}
</p>
