{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Ajouter un groupe' %}

{% block subContent %}
    <div class="card">
        <div class="card-body">
            {{ include('groups/_form.html.twig') }}
        </div>
    </div>
{% endblock %}