.empty-element{
  margin: auto;
  color: #7d8293;
}

.light-view {
  height: 100% !important;
  padding-top: 1rem;
  font-family: "Apex New Book";

  @media (min-width: 768px) {
    padding-top: 2rem;
  }

  .light-content {
    padding-left: 0;

    .icon-20 {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }

    .icon-30 {
      width: 30px;
      height: 30px;
      margin-right: 1rem;
    }

    .icon-40 {
      width: 40px;
      height: 40px;
      margin-right: 1rem;
    }

    .title-underlined {
      position: relative;
      display: block;
      font-weight: bold;
      margin-bottom: 1rem;
      color: gray;

      &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 3px;
        background-color: var(--primary);
        top: 130%;
        left: 0;
      }
    }

    .presentation-info {
      background-color: lightgray;
      margin-left: 0;
      margin-right: 0;

      .light-subtitle {
        margin-bottom: 0;
        justify-content: center;

        @media (min-width: 768px) {
          justify-content: flex-start;
        }
      }

      .presentation-info-element {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px) {
          align-items: flex-start;
        }

        ul {
          list-style: none;
          padding-left: 2rem;

          li {
            margin-bottom: 0;
          }
        }
      }
    }

    .presentation-summary {
      width: 100%;

      .media {
        @media (min-width: 768px) {
          float: left;
          max-width: 50%;
        }

        & > img, & > div.embed-responsive {
          margin: auto;
          max-height: calc(100% - 1rem);

          @media (min-width: 768px) {
            max-width: calc(100% - 1rem);
          }
        }
      }

      .media-video {
        width: 100%;
      }

      .summary {
        margin-top: 1rem;
        margin-bottom: 2rem;
        @media (min-width: 768px) {
          margin-top: 0;
        }
        & > ol, & > ul {
          display: flex !important;
          flex-direction: column !important;
          & >li {
            margin-bottom: 0.25rem;
          }
        }
      }
    }

  }
}
