/*
        SIL Tools associated SASS file.


*/


/*
    Loading spinner
*/

#loading_spinner {
    display: none;
    position: fixed;
    top: calc(50% - 10rem);
    left: calc(50% - 5rem);
    color: $gray-400;
    font-size: 10rem;
    &:before { content: fa-content($fa-var-circle-notch); }
    animation: fa-spin 2s infinite linear;
}



/*
    Alerts
*/

#alerts_container {
    position: fixed;
    top: $alert-margin-bottom;
    left: 50%;
    transform: translate(-50%);
    z-index: $zindex-fixed;
}

.help > .help-button{
    cursor: pointer;
}

.help > .help-message {
    display: none;
}

