{% extends 'ajax.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="row my-3">
        <div class="col">
            <h5>Capacités visées / Acquis d'apprentissage</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-10">
            <p>
                <strong>Comment rédiger un acquis d'apprentissage ?</strong>
            </p>
            <p>
            <h6>Verbe + objet (contenu) + contexte</h6>
            </p>
            <p>
                <u>Exemple en Sciences Humaine et Sociale :</u>
                <ul>
                    <li>
                        Produire des documents d'aide à la décision à partir de l'analyse d'une situation économiquer
                    </li>
                    <li>
                        Présenter les résultats d'une étude de marché donnée aux différentes étapes sur la base d'une recherche documentaire
                    </li>
                </ul>
                <u>Exemple en Sciences :</u>
                <ul>
                    <li>
                        Développer des applications simples en lagage orienté objet
                    </li>
                    <li>
                        Utiliser des formules menant à l'interprétation des résultats dans une problématique de machine à données manquantes
                    </li>
                </ul>
            </p>
            <p>
                Cours dédié à l'Approche Par Compétences (clé d'inscription = APC) :
            </p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <h5>Prérequis</h5>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <h5>Remédiation / Aide à la réussite</h5>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}