{% extends 'ajax.html.twig' %}

{% block main %}

    {{ form_start(form) }}

    <h6 class="my-3">
        Espace pour laisser un message à vos étudiants (ex: encouragements, derniers conseils&hellip;) (facultatif)
    </h6>
    {{ form_widget(form.closingRemarks) }}

    <h6 class="my-3">
        Intégrer une ressource vidéo (ou audio) respectant la règlementation sur les droits d'auteur (facultatif)
    </h6>
    {{ form_widget(form.closingVideo) }}

    <button class="btn btn-outline-primary btn-block submit" type="submit">
        <i class="fas fa-save"></i>
        Enregistrer
    </button>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>

        /**
         * Form submission
         */
        $("form[name='edit_closing_remarks_course_info']").submit(function(e){
            Syllabus.submitPanelForm( e, this );
        });

    </script>
{% endblock %}