{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Ajouter un syllabus au cours ' ~ course.title %}
{% block subContent %}
    {% if form.year.vars.choices is empty %}
        <div class="alert alert-info">{{ 'admin.course.course_exist' | trans }}</div>
    {% else %}
        <div class="card">
            <div class="card-body">
                {{ include('course_info/admin/_form.html.twig') }}
            </div>
        </div>
    {% endif %}
{% endblock %}

