{% if is_granted('ROLE_ADMIN_CRITICAL_ACHIEVEMENT_CREATE') %}
    <a class="btn btn-primary"  href="{{  path('app.admin.critical_achievement.new')  }}">{{ 'admin.button.add_critical_achievement' | trans }}</a>
{% endif %}