/*
    Bootstrap variables overrides.
*/

// SASS options
//$enable-rounded: false;
//$enable-shadows: false;
//$enable-print-styles: false;
$enable-responsive-font-sizes: true;

// General settings
$gray-100: #f8f9fa;
$body-bg: $gray-100;
$input-disabled-bg: $gray-100;

// Primary
$primary: #46aed8;
$secondary: #868e96;