/*
        Main SASS file.


*/


@import 'custom';
@import '~select2/src/scss/core';



/*
    General (non BS) markup.
*/

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 11rem;
}

header {
    min-height: 5rem;
    margin-bottom: 1rem;
    background-color: theme-color('info');
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    padding: 1rem 3rem 2rem;
    background-color: $gray-300;
}



/*
    Tabs
*/

.nav-tabs {

    .nav-item {

        .nav-link {
            max-width: 8rem;
        }
    }
}



/*
    Forms
*/

form {

    & > button:last-of-type {
        margin-top: 1rem;
    }
}

input[type=text],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 14px 5px 5px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

input[type="text"] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 46px;
    margin-top: -46px;
}

input[type="text"] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    padding: 0;
    color: #999999;
    white-space: nowrap;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: translate(8px, -12px);
    -ms-transform: translate(8px, -12px);
    transform: translate(8px, -12px);
    text-transform: uppercase;
    font-size: 9px;
    margin: 0 0 0 -2px;
}


/*
    Forms sortable lists
*/

form ul.list-group {
    list-style-type: none;

    & > li.list-group-item {
        margin-top: 1rem;

        &:nth-child(2n) {
            background-color: $gray-200;
        }

        &.sortable-chosen {
            background-color: lighten($primary, 35%);
        }

        .fas {
            float: right;
            font-size: 1.5rem;
            cursor: pointer;

            &.fa-arrows-alt-v {
                margin-left: 1rem;
                color: $primary;
            }

            &.fa-eraser {
                color: $red;
            }
        }
    }
}

