/*
 * Button
 */

.button-orange {
  background-color: #FF892A;
  border-color: #FF892A;
  color: white;
  border-radius: 0.75rem;
}
.button-orange:hover {
  color: #fcdfda;
}

.text-black {
  color: black;
}

.text-black:hover {
  color: grey;
}

/*
 * Loader
 */
.card-syllabus .progress
{
  border-radius: 5px;
}


/*
 * Card.
 */

.card-syllabus {
  .card-header {
    h3 {
      font-weight: 500;
      text-shadow: 1px 1px 1px #bbb;
    }
  }
}

/*
 * Teaching Mode form card
 */

.bg-lightgrey {
  background-color: #F1F2F3;
}

.bg-mediumgrey {
  background-color: #D5D7D9;
}

.bg-darkgrey {
  background-color: #707070;
}

.text-darkgrey {
  color: #707070;
}

/*
 * Focus.
 */

.hasActiveChild .card-syllabus:not(.active) {
  opacity: 0.2;
  pointer-events: none;
}

.empty-data {
  color: $gray-500;
  font-size: 0.9rem;
  font-style: italic;
}

.mandatory-data > .empty-data {
  color: #902b2b;
}

