/*
        SIL Tools associated SASS file.


*/


@import 'custom';



/*
    Loading spinner
*/

#loading_spinner {
    display: none;
    position: fixed;
    top: calc(50% - 10rem);
    left: calc(50% - 5rem);
    color: $gray-400;
    font-family: font_awesome_free_solid;
    font-size: 10rem;
    &:before { content: fa-content($fa-var-circle-notch); }
    animation: fa-spin 2s infinite linear;
}



/*
    Alerts
*/

#js-alerts_container {
    position: fixed;
    top: $alert-margin-bottom;
    z-index: 100;

    &:not(.container-fluid) {
        margin-left: 2 * $grid-gutter-width;
    }
}

