.background_student {
  background-color: black ;
  font-family: "Apex New Book";
  color: white;
}

.blue_uca {
  color: #46aed8;
}

.progress {
  background-color: #202020;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dark-light{
  background-color: #202020;
}

.student-icon{
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.li-valid{
  margin-right: 0px;
  list-style-type: none;
}