.background_student {
  background-color: black ;
  font-family: "Apex New Book";
  color: white;
}

.blue_uca {
  color: #46aed8;
}


.dark-light{
  background-color: #202020;
}

.student-icon{
  vertical-align: middle;
  width: 20px;
  height: 20px;
}