{% extends 'admin_layout.html.twig' %}
{% set h1 = 'admin.user.edit_user' | trans %}
{% set href = path('app.admin.user.index') %}

{% block subContent %}
    <div class="card card-primary">
        <div class="card-body">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

