{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Modifier un utilisateur' %}

{% block subContent %}
    <div class="card card-primary">
        <div class="card-body">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

