<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#presentation-section">{{ 'app.view.student.sidebar.presentation' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#prerequisites-section">{{ 'app.view.student.sidebar.prerequisites' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#objectives-section">{{ 'app.view.student.sidebar.objectives' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#activities-section">{{ 'app.view.student.sidebar.activity' | trans }}</a>
            </li>
        </ul>
    </div>
</nav>
