{% extends 'base.html.twig' %}

{% block main %}
    <div class="student-view">
        <div class="container">
            {% include 'course_info/view/student_vertical_menu.html.twig' %}
            <div class="student-content">
                Light version
            </div>
        </div>
    </div>
{% endblock %}