<section id="objectives-section" class="pb-3">
    <h3>
        {{ 'app.light_version.title_section.objectives' | trans }}
    </h3>

    <div>
        <div class="light-subtitle">
            <span class="text-bold">{{ 'app.view.student.objectives.achievements_description' | trans }}</span>
        </div>
        <ul class="light-list list-dotted">
            {% if courseInfo.courseAchievements is not empty %}
                {% for achievement in courseInfo.courseAchievements %}
                    <li class="text-primary ml-2">
                        {{ achievement.description }}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</section>