{% extends 'admin_layout.html.twig' %}
{% set h1 = 'admin.button.add_notification' | trans %}
{% set href = path('app.admin.notification.index') %}

{% block subContent %}
    <div class="card card-primary">

        <div class="card-body">
            {{ include('notification/_form.html.twig') }}
        </div>

    </div>
{% endblock %}

