{% extends 'admin_layout.html.twig' %}
{% set h1 = 'Créer une nouvelle une notification' %}

{% block subContent %}
    <div class="card card-primary">

        <div class="card-body">
            {{ include('notification/_form.html.twig') }}
        </div>

    </div>
{% endblock %}

