{% extends 'admin_layout.html.twig' %}
{% set h1 = 'admin.button.add_group' | trans %}
{% set href = path('app_admin_groups_index') %}

{% block subContent %}
    <div class="card">
        <div class="card-body">
            {{ include('groups/_form.html.twig') }}
        </div>
    </div>
{% endblock %}