{% extends 'base.html.twig' %}

{% block main %}
    <h2>{{ courseInfo.title }}</h2>
    <div class="sticky-top">
        {% include  "default/menu.html.twig" %}
    </div>
    {% block content %}
    {% endblock %}
{% endblock %}
