{% extends 'base.html.twig' %}

{% block main %}
    <div class="background-test">
        <h2 class="py-3 course-title">{{ courseInfo.title }}</h2>
        <div class="sidebar">
            {% include  "default/side-menu.html.twig" %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}