<section id="information-section" class="content">
    <h3 class="text-primary mt-5">{{ 'app.view.student.tabs.info' | trans }}</h3>
    <input type="image" src="/build/images/information_photo.jpg">

    <div class="row mt-4">
        <div class="col-4">
            <input class="student-icon" type="image" src="/build/images/calendrier_picto.png">
            {{ 'app.view.student.info.agenda' | trans }}
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
        <div class="col-4">
            <input class="student-icon" type="image" src="/build/images/organisation_picto.png">
            {{ 'app.view.student.info.organization' | trans }}
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
        <div class="col-4"></div>
    </div>
</section>