<section id="presentation-section" class="content">
    <h3 class="blue_uca">Présentation générale</h3>
    <div class="dark-light">
        <div class="row p-4">
            <div class="col-4">
                <span>
                <input class="student-icon" type="image" src="/build/images/composante_picto.png">
                    Composante
                </span>
                <ul class="blue_uca">
                    <li>{{ courseInfo.structure.label }}</li>
                </ul>
            </div>
            <div class="col-4">
                <input class="student-icon" type="image" src="/build/images/domaine_picto.png">
                <span>Domaine disciplinaire</span>
                <ul class="blue_uca">
                    <div class="row" style="width: 50%">
                        {% for domain in courseInfo.domains %}
                            {{ dump(courseInfo.domains) }}
                            <li class="col-md-6">{{ domain.label }}</li>
                        {% endfor %}
                    </div>
                </ul>
            </div>
            <div class="col-4">
                <input class="student-icon" type="image" src="/build/images/niveau_picto.png">
                <span>Niveau du cours</span>
                <ul class="blue_uca">
                    <div class="row" style="width: 50%">
                        <li>toto</li>
                    </div>
                </ul>
            </div>
            <div class="col-4">
                <input class="student-icon" type="image" src="/build/images/lieu_picto.png">
                <span>Lieu d'enseignement</span>
                <ul class="blue_uca">
                    <li>toto</li>
                </ul>
            </div>
            <div class="col-4">
                <input class="student-icon" type="image" src="/build/images/langue_picto.png">
                <span>Langue</span>
                <ul class="blue_uca">
                    <div class="row" style="width: 50%">
                        <li>toto</li>
                    </div>
                </ul>
            </div>
            <div class="col-4">
                <input class="student-icon" type="image" src="/build/images/info_picto.png">
                <span>Appartient a UE Microbiologie</span>
                <ul class="blue_uca">
                    <li>toto</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4">
            <img class="img-fluid" src="/build/images/presentation_photo.jpg">
        </div>
        <div class="col-8">
            <p class="ml-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel lacus leo. Aenean molestie velit
                vitae leo condimentum consectetur. Cras tempus sem at quam vehicula, at consectetur quam tempus. Aenean
                porttitor aliquam libero, nec pulvinar mi mattis a. Maecenas ornare metus sapien, at viverra neque
                iaculis nec. Suspendisse potenti. Duis hendrerit condimentum velit, faucibus tempor magna dignissim nec.
                Sed eu mollis diam, nec malesuada orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                in nulla vel dui interdum dapibus. Nulla et cursus felis, eget porttitor mi. Aenean venenatis viverra
                volutpat.
            </p>
            <p class="ml-4">
            <div>Equipe enseignante</div>
            <span class="blue_uca">test</span>
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-2" style="border-right: solid white; border-width: 0 1px;">
            <input width="40px" height="40px" type="image" src="/build/images/presentiel_picto.png">
            <span style="border-bottom: solid white; border-width:0 1px ;">Présentiel</span>
            <ul class="blue_uca">
                <li>toto</li>
            </ul>
        </div>
        <div class="col-3" style="margin-left: 20px">
            <input type="image" width="30px" height="30px" src="/build/images/distanciel_picto.png">
            <span>Distanciel</span>
            <ul class="blue_uca">
                <li>toto</li>
            </ul>
        </div>
    </div>
</section>