<section id="objectives-section" class="mb-5">
    <div class="student-title">
        <h1 class="text-primary">{{ 'app.view.student.tabs.objectives' | trans }}</h1>
        <img src="{{ asset('build/images/objectif_photo.jpg') }}" alt="">
    </div>
    <div class="student-grid">
        <div class="grid-element">
            <div class="student-subtitle">
                <span class="text-bold">{{ 'app.view.student.objectives.achievements_description' | trans }}</span>
            </div>
            <ul class="text-primary">
                {% if courseInfo.courseAchievements is not empty %}
                    {% for achievement in courseInfo.courseAchievements %}
                        <li>
                            <i class="fas fa-check"></i>
                            {{ achievement.description }}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

    </div>
</section>