<section id="presentation-section" class="content">
    <h3 class="blue_uca mt-5">{{ 'app.view.student.tabs.objectives' | trans }}</h3>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="/build/images/objectif_photo.jpg">
        </div>
        <div class="col-8 px-5">
            <p class="ml-4 text-bold">
                {{ 'app.view.student.objectives.achievements_description' | trans }}
            </p>
            <ul class="blue_uca">
                {% if courseInfo.courseAchievements is not empty %}
                    {% for achievement in courseInfo.courseAchievements %}
                        <li>{{ achievement.description }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

    </div>
</section>