<section id="presentation-section" class="content">
    <h3 class="blue_uca mt-5">Informations pratiques</h3>
    <input type="image" src="/build/images/information_photo.jpg">

    <div class="row mt-4">
        <div class="col-4">
            <input class="student-icon" type="image" src="/build/images/calendrier_picto.png">
            Calendrier
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
        <div class="col-4">
            <input class="student-icon" type="image" src="/build/images/organisation_picto.png">
            Organisation
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
        <div class="col-4"></div>
    </div>
</section>