{% if courseInfo.closingRemarks is not null or courseInfo.closingVideo is not null %}
    <section id="closing-remarks-section" class="pb-5">
        <div class="student-title">
            <h1 class="text-primary">{{ 'app.view.student.tabs.closing_remarks' | trans }}</h1>
        </div>
        {% if courseInfo.closingRemarks is not empty %}
            <div>
                {{ courseInfo.closingRemarks | purify }}
            </div>
        {% endif %}
        {% if courseInfo.closingVideo is not empty %}
            <div class="embed-responsive embed-responsive-16by9">
                {{ courseInfo.closingVideo|raw  }}
            </div>
        {% endif %}
    </section>
{% endif %}