{% extends 'base_homepage.html.twig' %}
{% block navbar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
{% endblock %}

{% block sidebar %}
    {% include 'course_info/view/student_sidebar.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'course_info/view/student_presentation.html.twig' %}
    {% include 'course_info/view/student_objectives.html.twig' %}
    {% include 'course_info/view/student_activities.html.twig' %}
    {% include 'course_info/view/student_evaluation.html.twig' %}
    {% include 'course_info/view/student_equipments.html.twig' %}
    {% include 'course_info/view/student_info.html.twig' %}
    {% include 'course_info/view/student_closing_remarks.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('course_info_layout') }}
{% endblock %}