{% extends 'base.html.twig' %}


{% block main %}
    <div class="student-view">
        <div class="container">
            {% include 'course_info/view/student_vertical_menu.html.twig' %}
            <div class="student-content">
                {% include 'course_info/view/student_presentation.html.twig' %}
                {% include 'course_info/view/student_prerequisite.html.twig' %}
                {% include 'course_info/view/student_objectives.html.twig' %}
                {% include 'course_info/view/student_evaluation.html.twig' %}
                {% include 'course_info/view/student_equipments.html.twig' %}
                {% include 'course_info/view/student_info.html.twig' %}
                {% include 'course_info/view/student_closing_remarks.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}