{% extends 'base.html.twig' %}
{% block main %}
    <div class="row">
        <div class="background_student col-1"></div>
        <div class="container-fluid p-0 background_student col-10">
            {% include 'course_info/view/student_presentation.html.twig' %}
            {% include 'course_info/view/student_objectives.html.twig' %}
            {% include 'course_info/view/student_evaluation.html.twig' %}
            {% include 'course_info/view/student_equipments.html.twig' %}
            {% include 'course_info/view/student_info.html.twig' %}
        </div>
        <div class="background_student col-1"></div>
    </div>
{% endblock %}