<div class="card toggle-focus my-2 shadow card-syllabus">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3>Synopsis</h3>
            <button type="button" class="update-focus btn btn-primary button-gradient" data-url="{{ path('course_presentation_synopsis', {'id': courseInfo.id }) }}">Mettre à jour</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row mt-2">
            <div class="col">
                <div class="d-flex">
                    <div class="d-flex flex-column">
                        <span class="font-weight-bold">
                            {% if courseInfo.summary is null %}
                                <i class="fas fa-exclamation-circle text-danger"></i>
                            {% endif %}
                            Résumé
                        </span>
                        {% if courseInfo.summary is null %}
                            <span class="text-danger">
                                Non-renseigné
                            </span>
                        {% else %}
                            <span class="text-muted">
                                {{ courseInfo.summary | purify }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex">
                    <p class="d-flex flex-column">
                        <span class="font-weight-bold">
                            {% if courseInfo.image is null and courseInfo.video is null %}
                                <i class="fas fa-exclamation-circle text-danger"></i>
                            {% endif %}
                            Média
                        </span>
                        {% if courseInfo.image is null and courseInfo.video is null %}
                            <span class="text-danger">
                                    Non-renseigné
                                </span>
                        {% elseif courseInfo.image is not null %}
                            <span class="text-muted">
                                {% set imgSrc = courseInfo.image | split('/') | last%}
                                    <img class="img-thumbnail" src="{{ asset('data/' ~ imgSrc) }}">
                                </span>
                        {% elseif courseInfo.video is not null %}
                            <span class="text-muted">
                                    {{ courseInfo.video }}
                                </span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>