{% if courseInfo.teachingMode is null %}
    <div class="d-flex justify-content-center align-items-center mandatory-data">
        <span class="empty-data">
            Aucun mode d'enseignement sélectionné
        </span>
    </div>
{% else %}
    <h5>{{ ('app.const.teaching_mode.' ~ courseInfo.teachingMode) | trans }}</h5>
    {% if courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::IN_CLASS') %}
        <div class="row">
            {% if courseInfo.teachingCmClass is not null %}
                <div class="col-md-3 col-sm-6 col-12">
                    {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': 'Cours Magistraux', 'teachingTypeHours': courseInfo.teachingCmClass } %}
                </div>
            {% endif %}
            {% if courseInfo.teachingTdClass is not null %}
                <div class="col-md-3 col-sm-6 col-12">
                    {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': 'Travaux Dirigés', 'teachingTypeHours': courseInfo.teachingTdClass } %}
                </div>
            {% endif %}
            {% if courseInfo.teachingTpClass is not null %}
                <div class="col-md-3 col-sm-6 col-12">
                    {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': 'Travaux Pratiques', 'teachingTypeHours': courseInfo.teachingTpClass } %}
                </div>
            {% endif %}
            {% if courseInfo.teachingOtherClass is not null %}
                <div class="col-md-3 col-sm-6 col-12">
                    {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': courseInfo.teachingOtherTypeClass, 'teachingTypeHours': courseInfo.teachingOtherClass } %}
                </div>
            {% endif %}
        </div>
    {% elseif courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::DIST') %}
        <div class="row">
            {% if courseInfo.teachingCmDist is not null %}
                <div class="col-md-3 col-sm-6 col-12">
                    {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': 'Cours Magistraux', 'teachingTypeHours': courseInfo.teachingCmDist } %}
                </div>
            {% endif %}
            {% if courseInfo.teachingTdDist is not null %}
                <div class="col-md-3 col-sm-6 col-12">
                    {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': 'Travaux Dirigés', 'teachingTypeHours': courseInfo.teachingTdDist } %}
                </div>
            {% endif %}
            {% if courseInfo.teachingOtherDist is not null %}
                <div class="col-md-3 col-sm-6 col-12">
                    {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': courseInfo.teachingOtherTypeDist, 'teachingTypeHours': courseInfo.teachingOtherDist } %}
                </div>
            {% endif %}
        </div>
    {% elseif courseInfo.teachingMode == constant('AppBundle\\Constant\\TeachingMode::HYBRID') %}
        <div class="row">
            <div class="col">
                <h6>Présentiel</h6>
            </div>
            <div class="col">
                <h6>A distance</h6>
            </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    {% if courseInfo.teachingCmHybridClass is not null %}
                        <div class="col-md-6 col-sm-12 col-12">
                            {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': 'Cours Magistraux', 'teachingTypeHours': courseInfo.teachingCmHybridClass } %}
                        </div>
                    {% endif %}
                    {% if courseInfo.teachingTdHybridClass is not null %}
                        <div class="col-md-6 col-sm-12 col-12">
                            {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': 'Travaux Dirigés', 'teachingTypeHours': courseInfo.teachingTdHybridClass } %}
                        </div>
                    {% endif %}
                    {% if courseInfo.teachingTpHybridClass is not null %}
                        <div class="col-md-6 col-sm-12 col-12">
                            {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': 'Travaux Pratiques', 'teachingTypeHours': courseInfo.teachingTpHybridClass } %}
                        </div>
                    {% endif %}
                    {% if courseInfo.teachingOtherHybridClass is not null %}
                        <div class="col-md-6 col-sm-12 col-12">
                            {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': courseInfo.teachingOtherTypeHybridClass, 'teachingTypeHours': courseInfo.teachingOtherHybridClass } %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col border-left">
                <div class="row">
                    {% if courseInfo.teachingCmHybridDist is not null %}
                        <div class="col-md-6 col-sm-12 col-12">
                            {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': 'Cours Magistraux', 'teachingTypeHours': courseInfo.teachingCmHybridDist, 'type': 'warning' } %}
                        </div>
                    {% endif %}
                    {% if courseInfo.teachingTdHybridDist is not null %}
                        <div class="col-md-6 col-sm-12 col-12">
                            {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': 'Travaux Dirigés', 'teachingTypeHours': courseInfo.teachingTdHybridDist, 'type': 'warning' } %}
                        </div>
                    {% endif %}
                    {% if courseInfo.teachingOtherHybridDist is not null %}
                        <div class="col-md-6 col-sm-12 col-12">
                            {% include 'course_info/presentation/view/_teaching_type_card.html.twig' with {'teachingTypeText': courseInfo.teachingOtherTypeHybridDistant, 'teachingTypeHours': courseInfo.teachingOtherHybridDist, 'type': 'warning' } %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endif %}
{% endif %}