<h6 class="mb-3">
    Qui fait parti de l'équipe enseignante ?
</h6>
{% if courseInfo.courseTeachers is empty %}
    <div class="d-flex justify-content-center align-items-center mandatory-data">
        <span class="empty-data">
            Aucun enseignant n'a encore été ajouté à l'équipe
        </span>
    </div>
{% else %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Attributs</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for teacher in courseInfo.courseTeachers %}
                <tr class="text-center">
                    <td>{{ teacher.lastname }}</td>
                    <td>{{ teacher.firstname }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>
                        {% if teacher.emailVisibility %}
                            <i class="fas fa-eye" data-toggle="tooltip" title="Email visible"></i>
                        {% else %}
                            <i class="fas fa-eye-slash" data-toggle="tooltip" title="Email non visible"></i>
                        {% endif %}
                        {% if teacher.manager %}
                            <i class="fas fa-graduation-cap" data-toggle="tooltip" title="Responsable"></i>
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-link modal-action p-0"
                                data-action-title="Supprimer un enseignant"
                                data-action-url="{{ path('course_presentation_remove_teacher', {'id': courseInfo.id, 'teacherId': teacher.id}) }}">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<script>
    $('[data-toggle="tooltip"]').tooltip({
        container: '.content-wrapper'
    });
</script>
