<div>
    <p>
        Bonjour,<br><br><br>
        {{ user.username }} demande un avis sur le syllabus du cours « {{ courseTitle }} ».
    </p>
    <p>
        Répondez simplement à ce courriel pour le lui faire parvenir.
    </p>
<div>
