<div class="d-flex flex-column">
    <span class="font-weight-bold">
        Message à vos étudiants
    </span>
    {{ courseInfo.closingRemarks|humanizeEmptyData() | purify }}
    <span class="font-weight-bold">
        Intégrer une ressource vidéo (ou audio)
    </span>
    <div class="embed-responsive embed-responsive-16by9">
        {{ courseInfo.closingVideo|raw  }}
    </div>
</div>