{% extends 'base.html.twig' %}

{% block main %}
    <div class="card">
    <div class="card-header">
        <h1>Veuillez saisir votre nouveau mot de passe</h1>
    </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.password) }}
                <button class="btn btn-primary">Réinitialiser</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}